body {
  background-color: #333f50;
}

nav li {
  padding: 0 6px;
  display: inline-grid;
  align-items:center;

}

.navbar {
  z-index: 2;
}

.navbar-collapse {
  margin-top: 30px;
}

footer {
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

footer img {
  height: 45px;
  margin-left: 5px;
  margin-right: 5px;
}

.filter-blue:hover {
  filter: invert(52%) sepia(81%) saturate(1418%) hue-rotate(150deg) brightness(92%) contrast(99%);
}

.account {
  color: #ffffff;
  font-weight: bold;
  background-color: #333f50;
  border-radius: 16px;
  padding: 6px 12px;
  position: relative;
}

.homepage {
  /* background-color: #ffffff; */
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  /* flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-evenly; */
  padding: 8px;
  z-index: 1
}

.homepage-text {
  color: white;
  text-align: center;
}


.content  {
    /* background-color: #1d1d1d; */
    position: absolute;
    top: 87px;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-evenly;
    padding: 8px;
    z-index: 1
  }

.navbar-brand {
  margin: 0;
  padding: 4px;
  position: relative;
  display: flex;
}

.navbar img {
  padding-right: 8px;
}

.navbar h2 {
  margin: auto;
}

#navbarToggler {
  text-align: right;
}

  .content > div {
    width: 20%;
    padding-right: 8px
  }
  
  .content > div:first-child {
    min-width: 220px
  }
  
  .content > div:nth-child(2) {
    min-width: 200px
  }
  
  .content  div:nth-child(3) {
    width: 40%
  }
  
  .content > div:last-child {
    padding-right: 0;
    min-width: 240px
  }
  
  @media (max-width:992px) {
    .content {
      display: block;
      overflow-y: auto
    }
  
    .content > div {
      width: 100%!important;
      padding-right: 0;
      padding-bottom: 8px
    }
  }
  
  .vertical > div {
    height: 100%
  }
  
  .vertical-split {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: nowrap
  }
  
  .vertical-split > div {
    height: 50%
  }
  
  .vertical-split > div:first-child {
    margin-bottom: 8px
  }
  
  .vertical-split:last-child > div:first-child {
    height: 60%
  }
  
  .vertical-split:last-child > div:last-child {
    height: 40%
  }
  
  @media (max-width:992px) {
    .vertical-split {
      display: block
    }
    .vertical-split > div,
    .vertical-split > div:first-child {
      height: auto
    }
  }
  
  .card {
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }

    .card a {
      color: #a4cfff;
    }

    .homepage .row {
      display: flex;
      flex-direction:row;
      flex-wrap: nowrap;
    }

    @media (max-width:768px) {
      .homepage .row {
        flex-direction: column;
      }
    }

    .homepage .col {
      margin: 8px 0;
    }

  .homepage-card {
    color: white;
    border-radius: 16px;
    background-color: #3a3838;
    align-items:center;
    /* justify-content: space-evenly; */
    display: block;
/*     flex-direction: column;
    justify-content: space-evenly; */
    flex-wrap: wrap;
  }

  .card-header {
    padding: 8px 4px;
    display: block;
    align-items:center;
    justify-content: space-evenly;
  }
  
  .homepage-card-header {
    /* padding: 8px 4px; */
    height: 120px;
    display: flex;
    align-items:center;
    justify-content: space-evenly;
  }

  .homepage .card-body {
    /* padding: 8px 4px; */
    padding-bottom: 16px;
    min-height: 230px;
    background-color: #575555;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    display: block;
    align-items:center;
    justify-content: space-evenly;
  }

  .homepage .card-body p {
    padding-left: 16px;
    padding-right: 4px;
    text-align: left;
    margin-top: 6px;
    margin-bottom: 12px;
  }
  
  .alert-button {
    margin-left: 16px;
  }
  .card-body{
    flex: auto;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 2px;
  }
  
  .card-body th {
    border-top: 0;
  }
  
  .card-body .nav-tabs {
    border-color: #95999c;
  }
  
  .card-body .nav-item.nav-link {
    font-size: 80%;
    font-weight: bold;
    background-color: inherit;
    color: inherit;
    padding: 4px 8px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: #95999c;
    border-radius: 0px;
  }
  
  .card-body .nav-item.nav-link.active {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid #007bff;
  }
  
  .card-body .price-chart {
    height:100%;
    padding-bottom: 60px;
  }
  
  .card-body .price-chart .price {
    padding-left: 20px;
  }
  
  td.cancel-order {
    cursor: pointer;
  }
  
  tr.order-book-order {
    cursor: pointer;
  }
  